@charset "UTF-8";


body{margin-top: 0px;}

main{max-width: 100%;
min-width: 500px;}

header{
text-align: center;
background-color: black;
width: auto;
height: 300px;
color: white;
margin-top: -22px;
background-size: cover;
}

header p {
    text-align: center;
}



    
main p {

    font-family: "Sriracha";
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 60px;
    padding: 20px;
    width: auto;
    
}


div#container{
background-image: url(../imagens/imagens/background001.jpg);
width: auto;
padding: 100px;
}

p#conteudo{
text-align: justify;
font-size: 40px;
width: auto;
padding: 100px;
background-color:yellow;
color: black;

}

div#container2{
    background-image: url(../imagens/imagens/background002.jpg);
    height: 1000px;
    padding: 100px;
    }

p#pagina{text-align: justify;
    font-size: 40px;
    width: 500px;
    padding: 10px;
    background-color:yellow;
    color: black;
    }

